* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

/* Menu */
.bg-dark {
  background-color: #3cebff !important;
}

.navbar {
  font-family: monospace !important;
  font-size: 1.5em !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color: rgb(255,102,203);
}

.navbar-dark .navbar-nav .nav-link {
  color: #002529;
}

.navbar-brand {
  color: #FF9E00 !important;
  font-weight: bolder;
  font-family: inherit;
  font-size: 30px;
}

.float-right {
  background-color: none;
  width: 100;
}

.purple {
  color: #e700d5;
  font-size: 1.2em;
}

.main {
  background: url('../images/background.jpg') no-repeat right center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  width: 100%;
  height: 650px;
}

.main-2 {
  background: url('../images/background2.jpg') no-repeat right center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  width: 100%;
  height: 800px;

  justify-content: center;
  align-items: center;
}

.main-3 {
  background: url('../images/background3.jpg') no-repeat right center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  width: 100%;
  height: 650px;
  justify-content: center;
}

.main-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-bottom: 40px;
  width: 340px;
}

.main-item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

.main-item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 40%;
  margin-bottom: 100px;
}

.main-item h1 {
  font-size: 4.5em;
  margin-bottom: 50px;
}

.main-item2 h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 50px;
}

.main-item3 h1 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 50px;
}

.main-items {
  color: #e700d5;
}

.main-items-1 {
  font-size: 1.4em;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.button {
  background-color: #3cebff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #002529;
}

.button2 {
  background-color: #3cebff;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #002529;
  width: 50%;
}

.main-pricing1 {
  background: url('../images/pricing.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  width: 100%;
  background-color: #17152b;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-pricing2 {
  background: url('../images/pricing.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  width: 100%;
  background-color: #17152b;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-pricing1 hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#4ABDA0;
  height: 1px;
}

.pricing-item {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #e700d5;
  font-size: 1.3em;
}

.pricing-item img {
  width: 33.3%;
  height 33.3%;
  margin: 20px
}

.main-pricing1 h1 {
  color: #19eae4;
  font-size: 3em;
  margin-bottom: 10px;
  text-align: center;
}

.pricing-item h2 {
  color: #19eae4;
  margin-bottom: 10px;
  text-align: center;
}

.pricing-item hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#4ABDA0;
  height: 1px;
}

.pricing-element {
  width: 90%;
  margin: 10px;
  color: #e700d5;
  font-size: 1.2em;
  font-family: serif;
  font-weight: bold;
  text-align: center;
}

.pricing-element-last {
  width: 70%;
  margin: 10px;
  color: #ff9e00;
  font-size: 2em;
  font-family: serif;
  font-weight: bold;
  text-align: center;
}

.review-main {
  background: url('../images/pricing.jpg') no-repeat right center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  width: 100%;
  height: auto;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-head {
  width: 100%;
  text-align: center;
}

.review-head h1 {
  font-size: 4.5em;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #19eae4
}

.review-head-sub {
  font-size: 1.4em;
  margin-bottom: 25px;
  text-align: center;
  color: #e700d5;
}

.review-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  color: #19eae4;
  text-align: center;
}

.review-element {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.review-item img {
  width: 33.3%;
  height 33.3%;
  margin: 20px
}

.review-item hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#4ABDA0;
  height: 1px;
}

.review-item-r {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  color: #19eae4;
  text-align: center;
}

.review-item-r img {
  width: 33.3%;
  height 33.3%;
  margin: 20px
}

.review-item-r hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#4ABDA0;
  height: 1px;
}

.about-main {
  background-color: #121826;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-item-pic {
  width: 33.3%;
  align-self: center;
}

.about-item-pic img {
  border-radius: 50%;
  width: 100%;
  align-self: center;
  align-content: center;
}

.about-item {
  width: 70%;
  align-self: center;
}

.about-item h2 {
  font-family: serif;
  font-size: 2.5em;
  text-align: center;
  text-align: center;
  color: #3cebff;
}

.about-item p {
  font-family: serif;
  font-size: 1.4em;
  text-align: center;
  text-align: center;
  color: #e700d5;
}

.about-contact {
  font-family: serif;
  font-size: 1.4em;
  text-align: center;
  text-align: center;
  color: #ff9e00;
}

.footer {
  display: flex;
  height: 75px;
  width: 100%;
  background-color: #3cebff;
  justify-content: center;
  align-items: center;
}

.footer-item {
  display: flex;
  text-align: center;
  align-self: center;
  align-content: center;
  font-size: 1.4em;
  font-family: monospace;
}

@media only screen and (min-width: 961px) {
  .main-3 {
    justify-content: flex-end;
  }

  .main-pricing2 {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  .pricing-item {
    width: 30%;
    margin: 10px;
  }

  .review-item {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 75px;
  }

  .review-item-r {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 75px;
  }

  .review-element {
    width: 50%;
  }

}
